html, body {
    margin: 0;
    padding: 0;
    overscroll-behavior: none;
    overscroll-behavior-y: none;
    background-image: url("../../assets/img/bg-light.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000;
}